* {
    margin: 0px;
    padding: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

.posicionMenu {
    color: white;
}

.colorNavegador {
    background-color: black;
    height: 100px;
}

a img {
    margin-top: 7px;
    width: 5vw;
    height: 10vh;
}

.margenesLogo {
    top: 1vh;
    left: 2vw;
}

/*  main  */

main {
    height: 250vh;
    background-image: url(../images/20.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    border-bottom: black solid 1vh;
    padding: 1px, 2px, 1px, 2px;
    margin: 1px, 1px, 1px, 1px;
}

.inicioPagina {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.027));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.animate__zoomIn {
    width: 60vw;
    color: rgb(159, 163, 133);
    font-size: 10vh;
    font-family: sans-serif; 
    margin-left: 10vw;
    text-align: justify;
}

.main__texto {
    width: 40vw;
    font-size: 2vw;
    font-family: 'Indie Flower', cursive;
    color: white;
    margin-top: 40vh;
    margin-left: 30vw;
}

h1 {
    font-size: 15vh;
    font-family: sans-serif;
    color: rgb(206, 159, 57);
    margin-left: 5vw;
    text-align: center;
}

/*  seccion destinada a "Sobre Mi"  */

.section1 {
    height: 200vh;
    display: grid;
    grid-template-areas:
   "section1__titulo section1__foto1"
   "section1__texto1 section1__foto1"
   "section1__foto2 ."
   "section1__foto2 section1__texto2";
    grid-template-columns: 45vw;
    grid-template-rows: 50vh;
    grid-column-gap: 20px;
    grid-row-gap: 20px;;
    background-color: #FFF1E6;
    justify-items: center;
    align-items: flex-end;
}

.section1__titulo {
    grid-area: section1__titulo;
    font-family: sans-serif;
    font-size: 10vh;
    color: rgb(162, 163, 155);
    margin-left: 5vw;
    align-self: flex-end;
    opacity: 0;
}

.section1__foto1 {
    grid-area: section1__foto1;
    align-self: center;
    width: 20rem;
    border: solid 1vh black;
    padding: 1vh;
    margin-top: 20px;
    opacity: 0;
}

.section1__foto2 {
    grid-area: section1__foto2;
    align-self: start;
    width: 20rem;
    border: solid 1vh black;
    padding: 1vh;
    margin: 4px;
    opacity: 0;
}

.section1__texto1 {
    grid-area: section1__texto1;
    justify-self: center;
    width: 15vw;
    font-size: 2vw;
    font-family: 'Indie Flower', cursive; 
    color: black;
    opacity: 0;
}

.section1__texto2 {
    grid-area: section1__texto2;
    justify-self: center;
    width: 15vw;
    font-size: 2vw;
    font-family: 'Indie Flower', cursive; 
    color: black;
    margin-bottom: 40vh;
    opacity: 0;
}

#boton1 {
    margin-left: 30vw;
}

/*  transformaciones y transiciones de seccion 1  */


.section1:hover .section1__titulo {
    animation-duration: 150s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}

.section1:hover .section1__texto1 {
    animation-duration: 150s;
    animation-name: segundaAparicion;
    animation-iteration-count: infinite;
}

.section1:hover .section1__texto2 {
    animation-duration: 150s;
    animation-name: segundaAparicion;
    animation-iteration-count: infinite;
}

.section1:hover .section1__foto1 {
    animation-duration: 150s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}

.section1:hover .section1__foto2 {
    animation-duration: 150s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}

.section1__titulo:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section1__foto1:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section2__foto1:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section1__texto1:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section1__foto2:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section1__texto2:hover {
    transform: scale(1.1);
    transition: 1s;
}

/*  seccion 2 referente a "Productos"  */


.section2 {
    height: 300vh;
    display: grid;
    grid-template-areas:
    "section2__titulo section2__titulo . section2__foto1 ."
    "section2__titulo section2__titulo .  section2__foto1 ."
    ". section2__foto2 section2__texto1 section2__foto1 ."
    ". section2__foto2 section2__foto3 section2__foto1 ."
    ". section2__foto4 section2__foto3 section2__texto2 ."
    ". section2__foto4 section2__texto3 section2__foto5 ."
    ".section2__foto4 section2__texto3 section2__foto5 .";
    grid-template-columns: 10% 25% 25% 20% auto ;
    grid-template-rows: 200px 200px 15% 15% 15% auto ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #FFF1E6;
}

.section2__titulo {
    grid-area: section2__titulo;
    width: 50vw;
    font-family: sans-serif;
    font-size: 10vh;
    color: rgb(162, 163, 155);
    position: relative;
    opacity: 0;
    margin-top: 5vh;
    margin-left: 5vw;
}

#boton {
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 25vw;
    color: black;
}

.section2__foto1 {
    grid-area: section2__foto1;
    align-self: center;
    width: 20rem;
    border: solid 1vh black;
    padding: 1vh;
    margin: 4px;
    opacity: 0;
}

.section2__foto2 {
    grid-area: section2__foto2;
    width: 20rem;
    border: solid 1vh black;
    padding: 1vh;
    margin: 4px;
    opacity: 0;
}

.section2__foto3 {
    grid-area: section2__foto3;
    width: 20rem;
    border: solid 1vh black;
    padding: 1vh;
    margin: 4px;
    opacity: 0;
}

.section2__foto4 {
    grid-area: section2__foto4;
    width: 20rem;
    border: solid 1vh black;
    padding: 1vh;
    margin: 4px;
    opacity: 0;
}

.section2__foto5 {
    grid-area: section2__foto5;
    width: 20rem;
    border: solid 1vh black;
    padding: 1vh;
    margin: 4px;
    opacity: 0;
}

.section2__texto1 {
    grid-area: section2__texto1;
    justify-self: center;
    width: 15vw;
    font-size: 2vw;
    font-family: 'Indie Flower', cursive; 
    color: black; 
    opacity: 0;
}

.section2__texto2 {
    grid-area: section2__texto2;
    align-self: flex-start;
    width: 15vw;
    font-size: 2vw;
    font-family: 'Indie Flower', cursive; 
    color: black; 
}

.section2__texto3 {
    grid-area: section2__texto3;
    align-self: center;
    justify-self: center;
    width: 15vw;
    font-size: 2vw;
    font-family: 'Indie Flower', cursive; 
    color: black; 
    opacity: 0;
}

/*  transformaciones y transiciones de seccion 2  */


.section2:hover .section2__titulo {
    animation-duration: 150s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}

.section2:hover .section2__foto1 {
    animation-duration: 200s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}

.section2:hover .section2__foto2 {
    animation-duration: 200s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}

@keyframes primeraAparicion {
    0% {opacity: 0;}
    1% {opacity: 1;}
    100% {opacity: 1;}
}

.section2:hover .section2__texto1 {
    animation-duration: 200s;
    animation-name: segundaAparicion;
    animation-iteration-count: infinite; 
}

.section2:hover .section2__foto3 {
    animation-duration: 200s;
    animation-name: segundaAparicion;
    animation-iteration-count: infinite;
}

@keyframes segundaAparicion {
    1% {opacity: 0;}
    2% {opacity: 0;}
    2% {opacity: 1;}
    100% {opacity: 1;}
}

.section2:hover .section2__foto4 {
    animation-duration: 200s;
    animation-name: terceraAparicion;
    animation-iteration-count: infinite;
}

.section2:hover .section2__texto2 {
    animation-duration: 200s;
    animation-name: terceraAparicion;
    animation-iteration-count: infinite;
}

@keyframes terceraAparicion {
    0% {opacity: 0;}
    3% {opacity: 0;}
    4% {opacity: 1;}
    100% {opacity: 1;}
}

.section2:hover .section2__foto5 {
    animation-duration: 200s;
    animation-name: cuartaAparicion;
    animation-iteration-count: infinite;
}

.section2:hover .section2__texto3 {
    animation-duration: 200s;
    animation-name: cuartaAparicion;
    animation-iteration-count: infinite;
}

@keyframes cuartaAparicion {
    0% {opacity: 0;}
    4% {opacity: 0;}
    5% {opacity: 1;}
    100% {opacity: 1;}
}

.section2__titulo:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section2__foto1:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section2__foto2:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section2__foto3:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section2__foto3:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section2__foto4:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section2__foto5:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section2__texto1:hover {
    transform: scale(1.2);
    transition: 1s;
}

.section2__texto2:hover {
    transform: scale(1.2);
    transition: 1s;
}

.section2__texto3:hover {
    transform: scale(1.2);
    transition: 1s;
}

/* seccion 3 que referencia a "Talleres y Asesorías" */


.section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 140vh;
    background-color: #FFF1E6;
}

.fondoTabla {
    height: 100%;
    width: 100%;
    background-color: black;
}

.section3__titulo {
    width: 50vw;
    font-family: sans-serif;
    font-size: 10vh;
    color: rgb(159, 163, 133);
    margin-left: 2vw;
    opacity: 0;
}

.section3__botonTabla {
    color: black;
    width: 10vw;
    margin-bottom: 10vh;
    margin-left: 45vw;
    opacity: 0;
}

table {
    background-image: url(../images/5.jpeg);
    background-size: cover;
    background-position: center;
    width: 90vw;
    height: 80vh;
    margin-left: 5vw;
    opacity: 0;
}

table tr td {
    border: solid 1vh black;
    color: white;
    height: 20vh;
    width: 25vw;
}

table tr td ul {
    display: flex;
    flex-direction: column;
}

table tr td ul li {
    color: white;
}

/*  transformaciones y transiciones de seccion 3  */


.section3:hover .section3__titulo{
    animation-duration: 300s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}

.section3:hover .seccion3__tabla {
    animation-duration: 300s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite; 
}

.section3:hover .section3__botonTabla {
    animation-duration: 300s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;  
}

.seccion3__tabla:hover {
    transform: scale(1.1);
    transition: 1s;
}

.section3__titulo:hover {
    transform: scale(1.1);
    transition: 1s;
}

/* footer que hace referencia a la sección "Hablemos"  */


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../images/footerDePan2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
}

.footer__color {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(#FFF1E6, #fff1e67c);
    width: 100vw;
    height: 100vh;
}

.footer__titulo {
    color: rgb(159, 163, 133);
    font-family: sans-serif;
    font-size: 10vh;
    margin-left: 35vw;
}

.footer__texto {
    color: black;
    width: 80vw;
    font-size: 2vw;
    font-family: 'Indie Flower', cursive;
    margin-left: 10vw;
}

.footer__boton {
    width: 5vw;
    height: 3vh;
    margin-left: 80vw;
    margin-bottom: 20vh;
}

/*  transformaciones y transiciones de seccion footer */


.footer__titulo:hover {
    transform: scale(1.1);
    transition: 1s;
}

.footer__texto:hover {
    transform: scale(1.1);
    transition: 1s;
}

.footer__boton:hover {
    transform: scale(1.1);
    transition: 1s;
}

.logoFace:hover {
    transform: scale(1.1);
    transition: 1s;
}

.logoGmail:hover {
    transform: scale(1.1);
    transition: 1s;
}

.logoWhatsapp:hover {
    transform: scale(1.1);
    transition: 1s;
}

.logoInstagram:hover {
    transform: scale(1.1);
    transition: 1s;
}