@charset "UTF-8";
@keyframes primeraAparicion {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes segundaAparicion {
  1% {
    opacity: 0; }
  2% {
    opacity: 0; }
  2% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes terceraAparicion {
  0% {
    opacity: 0; }
  3% {
    opacity: 0; }
  4% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes cuartaAparicion {
  0% {
    opacity: 0; }
  4% {
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.section1:hover .primeraAparicion {
  animation-duration: 150s;
  animation-name: primeraAparicion;
  animation-iteration-count: infinite; }

.section2:hover .primeraAparicion {
  animation-duration: 150s;
  animation-name: primeraAparicion;
  animation-iteration-count: infinite; }

.section3:hover .primeraAparicion {
  animation-duration: 150s;
  animation-name: primeraAparicion;
  animation-iteration-count: infinite; }

.section1:hover .segundaAparicion {
  animation-duration: 150s;
  animation-name: segundaAparicion;
  animation-iteration-count: infinite; }

.section2:hover .segundaAparicion {
  animation-duration: 200s;
  animation-name: segundaAparicion;
  animation-iteration-count: infinite; }

.section2:hover .terceraAparicion {
  animation-duration: 200s;
  animation-name: terceraAparicion;
  animation-iteration-count: infinite; }

.section2:hover .cuartaAparicion {
  animation-duration: 200s;
  animation-name: cuartaAparicion;
  animation-iteration-count: infinite; }

.apariciones {
  opacity: 0;
  animation-duration: 300s;
  animation-name: primeraAparicion;
  animation-iteration-count: infinite; }

.transformacion:hover {
  transform: scale(1.1);
  transition: 1s; }



.footer__boton:hover {
  transform: scale(1.1);
  transition: 1s; }

.logoFace:hover {
  transform: scale(1.1);
  transition: 1s; }

.logoGmail:hover {
  transform: scale(1.1);
  transition: 1s; }

.logoWhatsapp:hover {
  transform: scale(1.1);
  transition: 1s; }

.logoInstagram:hover {
  transform: scale(1.1);
  transition: 1s; }

* {
  margin: 0px;
  padding: 0px; }

header {
  background-image: url(../images/panEnHd.jpeg);
  background-position: center;
  background-size: cover;
  height: auto; }
  header div {
    height: auto;
    background-image: linear-gradient(#fff1e67c, #FFF1E6); }
    header div nav {
      display: grid;
      grid-template-areas: ". ul ." ". . ." ". h1 ." ". p ." ". img .";
      grid-template-rows: auto 25vh auto auto;
      grid-template-columns: auto 60vw auto; }
      header div nav h1 {
        grid-area: h1;
        font-size: 50px;
        font-family: sans-serif;
        color: #a2a39b; }
      header div nav p {
        grid-area: p;
        font-size: 18px;
        font-family: 'Indie Flower', cursive; }
      header div nav li a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
      }
        header div nav li a .logoMenu {
          width: 40px;
          height: 40px;
          margin-left: 10px; 
        }
    header div img {
      grid-area: img;
      width: 50%;
      height: auto; }
    
@media screen and (max-width: 600px) {
  .colorNavegador {
    display: flex;
    flex-direction: column; }
    .colorNavegador h1 {
      font-size: 50px;
      text-align: center; }
    .colorNavegador img {
      margin-left: 100px; } }

/*  seccion destinada a "Sobre Mi"  */
.section1 {
  background-image: url(../images/masa.png);
  background-repeat: no-repeat;
  background-position: center; }
  .section1 article {
    height: auto;
    display: grid;
    grid-template-areas: ". ." "section1__titulo ." ". section1__foto1" "section1__texto1 section1__foto1" "section1__foto2 section1__texto2";
    grid-template-columns: 45vw;
    grid-template-rows: 10vh auto 10vh auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 2px;
    background-color: #fff1e6c5;
    justify-items: center;
    align-items: flex-end; }
    .section1 article .section1__titulo {
      grid-area: section1__titulo;
      font-family: sans-serif;
      font-size: 40px;
      color: #a2a39b;
      margin-left: 5vw;
      align-self: flex-end; }
      .section1 article .section1__titulo #boton1 {
        font-size: 16px;
        font-style: none;
        margin-left: 30vw;
        height: auto;
        width: 30%;
        font-family: 'Indie Flower', cursive; }
        .section1 article .section1__titulo #boton1 a {
          color: black;
          text-decoration: none; }
  @media screen and (max-width: 600px) {
    .section1 .section1 {
      display: flex;
      flex-direction: column; }
      .section1 .section1 h2 {
        text-align: center; } }
  .section1 .section1__foto1 {
    grid-area: section1__foto1;
    align-self: center;
    width: 30%;
    height: auto;
    padding: 1vh;
    margin-top: 20px; }
  .section1 .section1__foto2 {
    grid-area: section1__foto2;
    align-self: start;
    width: 50%;
    height: auto;
    padding: 1vh;
    margin: 4px; }
  .section1 .section1__texto1 {
    grid-area: section1__texto1;
    justify-self: end;
    align-self: flex-start;
    width: 50%;
    font-size: larger;
    font-family: 'Indie Flower', cursive;
    color: black; }
  .section1 .section1__texto2 {
    grid-area: section1__texto2;
    justify-self: start;
    width: 50%;
    font-size: larger;
    font-family: 'Indie Flower', cursive;
    color: black;
    margin-bottom: 40vh; }

/* seccion destinada a productos*/
.section2 {
  background-image: url(../images/panes.png);
  background-repeat: no-repeat;
  background-position: center;
  height: auto; }
  .section2 article {
    height: auto;
    display: grid;
    align-items: baseline;
    grid-template-areas: "section2__titulo section2__titulo . section2__foto1 ." "section2__titulo section2__titulo .  section2__foto1 ." ". section2__foto2 section2__texto1 section2__foto1 ." ". section2__foto2 section2__foto3 section2__foto1 ." ". section2__foto4 section2__texto2 section2__texto2 ." ". section2__foto4 section2__texto3 section2__foto5 ." ".section2__foto4 section2__texto3 section2__foto5 ." ". . . . .";
    grid-template-columns: 10% 25% 25% 25% 10%;
    grid-template-rows: 200px 100px 15% 15% 15% auto 200px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #fff1e6c5; }
    .section2 article .section2__titulo {
      grid-area: section2__titulo;
      width: 50vw;
      font-family: sans-serif;
      font-size: 40px;
      color: #a2a39b;
      position: relative;
      margin-top: 5vh;
      margin-left: 5vw; }
      .section2 article .section2__titulo #boton {
        font-size: 16px;
        font-style: none;
        margin-left: 30vw;
        height: auto;
        width: 30%;
        font-family: 'Indie Flower', cursive;
      }
    .section2 article .section2__titulo #boton a {
      color: black;
      text-decoration: none; }
  .section2 .section2__foto1 {
    grid-area: section2__foto1;
    align-self: center;
    width: 60%;
    height: auto;
    padding: 1vh;
    margin: 4px; }
  .section2 .section2__foto2 {
    grid-area: section2__foto2;
    width: 60%;
    height: auto;
    padding: 1vh;
    margin: 4px; }
  .section2 .section2__foto3 {
    grid-area: section2__foto3;
    width: auto;
    height: 150px;
    padding: 1vh;
    margin: 4px; }
  .section2 .section2__foto4 {
    grid-area: section2__foto4;
    width: 60%;
    height: auto;
    padding: 1vh;
    margin: 4px; }
  .section2 .section2__foto5 {
    grid-area: section2__foto5;
    width: 40%;
    height: auto;
    padding: 1vh;
    margin: 4px; }
  .section2 .section2__texto1 {
    grid-area: section2__texto1;
    text-align: center;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: black; }
  .section2 .section2__texto2 {
    grid-area: section2__texto2;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: black; }
  .section2 .section2__texto3 {
    grid-area: section2__texto3;
    text-align: center;
    justify-self: center;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: black; }

/* seccion 3 que referencia a "Talleres y Asesorías" */
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff1e6c5;
  height: auto; }
  .section3 h2 {
    width: 80%;
    font-family: sans-serif;
    font-size: 40px;
    color: #9fa385;
    margin-top: 100px; }
  .section3 .section3__botonTabla {
    font-size: 16px;
    font-style: none;
    margin-left: 45vw;
    height: auto;
    width: 15%;
    font-family: 'Indie Flower', cursive; }
    .section3 .section3__botonTabla a {
      color: black;
      text-decoration: none; 
    }
  .section3 table {
    background-image: url(../images/panConHumo.jpeg);
    background-size: cover;
    background-position: center;
    margin-top: 5vh;
    margin-left: 5vw; }
    .section3 table tr td {
      border: solid 1vh black;
      color: white;
      height: 20vh;
      width: 25vw; }
      .section3 table tr td ul {
        display: flex;
        flex-direction: column; }
        .section3 table tr td ul li {
          color: white; }

/* footer que hace referencia a la sección "Hablemos"  */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../images/footerDePan2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top; }
  footer .footer__color {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(#FFF1E6, #fff1e67c);
    width: 100vw;
    height: 100vh; }
  footer .footer__titulo {
    color: #9fa385;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center; }
  footer .footer__texto {
    color: black;
    width: 80vw;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    margin-left: 10vw;
    text-align: center; }
  footer .footer__boton {
    font-size: 16px;
        font-style: none;
        margin-left: 65vw;
        height: auto;
        width: 15%;
        font-family: 'Indie Flower', cursive; }
    footer .footer__boton a {
      color: black;
      text-decoration: none; }
  footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15vh;
    top: 100vh;
    padding: 2px, 1px, 2px, 1px;
    padding: 2px,1px,2px,1px; }
    footer nav ul a img {
      width: 30px;
      height: 30px; }
