* {
    margin: 0px;
    padding: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.posicionMenu {
    color: black;
}

.colorNavegador {
    background-image: linear-gradient(#f8d1b3, #FFF1E6) ;
    height: 100px;
}

a img {
    width: 4vw;
    height: 6vh;
    margin-top: 7px;
}

.margenesLogo {
    top: 1vh;
    left: 2vw;
}

body {
    background-color: #FFF1E6;
}

/*estructuta de la página utilizando grids*/

.seccionPrincipal {
    height: auto;
    display: grid;
    grid-template-areas: 
    "h1 ."
    "tituloPan1 ."
    "botonPan1 imagenPan1"
    "textoPan1 imagenPan1"
    ". tituloPan2"
    "imagenPan2 botonPan2"
    "imagenPan2 textoPan2"
    "tituloPan3 ."
    "botonPan3 imagenPan3"
    "textoPan3 imagenPan3"
    ". tituloPan4"
    "imagenPan4 botonPan4"
    "imagenPan4 textoPan4";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 2px;
    justify-items: start;
}

/*botones*/

 .botonPan1 {
    grid-area: botonPan1;
    color: black;
    height: 3vh;
    width: 8vw;
    margin-left: 20vw;
 }

 .botonPan1 a{
     color: black;
 }

 .botonPan2 {
    grid-area: botonPan2;
    color: black;
    height: 3vh;
    width: 8vw;
    margin-left: 20vw;
 }

 .botonPan2 a{
     color: black;
 }

 .botonPan3 {
    grid-area: botonPan3;
    color: black;
    height: 3vh;
    width: 8vw;
    margin-left: 20vw;
 }

 .botonPan3 a {
     color: black;
 }

 .botonPan4 {
    grid-area: botonPan4;
    height: 3vh;
    width: 8vw;
    margin-left: 20vw;
 }

 .botonPan4 a {
     color: black;
 }

/*titulos*/

h1 {
    grid-area: h1;
    font-family: sans-serif;
    font-size: 65px;
    color: rgb(159, 163, 133);
    margin-left: 5vw;
    align-self: flex-end;
}

.tituloPan1 {
    grid-area: tituloPan1;
    justify-self: start;
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(159, 163, 133);
    margin-left: 5vw;
    align-self: flex-end;
}

.tituloPan2 {
    grid-area: tituloPan2;
    justify-self: start;
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(159, 163, 133);
    margin-left: 5vw;
    align-self: flex-end;
}

.tituloPan3 {
    grid-area: tituloPan3;
    justify-self: start;
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(159, 163, 133);
    margin-left: 5vw;
    align-self: flex-end;
}

.tituloPan4 {
    grid-area: tituloPan4;
    justify-self: start;
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(159, 163, 133);
    margin-left: 5vw;
    align-self: flex-end;
}

/*textos*/

.textoPan1 {
    grid-area: textoPan1;
    justify-self: center;
    width: 40vw;
    font-size: 20px;
    font-family: 'Indie Flower', cursive; 
    color: black;
}

.textoPan2 {
    grid-area: textoPan2;
    justify-self: center;
    width: 40vw;
    font-size: 20px;
    font-family: 'Indie Flower', cursive; 
    color: black;
    margin-right: 5vw;
}

.textoPan3 {
    grid-area: textoPan3;
    justify-self: center;
    width: 40vw;
    font-size: 20px;
    font-family: 'Indie Flower', cursive; 
    color: black;
}

.textoPan4 {
    grid-area: textoPan4;
    align-self: initial;
    width: 40vw;
    font-size: 20px;
    font-family: 'Indie Flower', cursive; 
    color: black;
    margin-right: 5vw;
}

/*imágenes*/

.imagenPan1 {
    grid-area: imagenPan1;
    width: 25vw;
    height: 30vh;
    justify-self: center;
    padding: 1vh;
    margin: 4px;

}

.imagenPan2 {
    grid-area: imagenPan2;
    justify-self: center;
    width: 25vw;
    height: 30vh;
    padding: 1vh;
    margin: 4px 4px 4px 5vw;
}

.imagenPan3 {
    grid-area: imagenPan3;
    justify-self: center;
    width: 35vw;
    height: 50vh;
    padding: 1vh;
    margin: 4px;
}

.imagenPan4 {
    grid-area: imagenPan4;
    justify-self: center;
    width: 25vw;
    height: 30vh;
    padding: 1vh;
    margin: 4px 4px 4px 5vw;
}

/*footer*/

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(214, 186, 124);
    height: 15vh;
    top: 100vh;
    padding: 2px, 1px, 2px, 1px;
    background-image: linear-gradient(#FFF1E6, white);
    padding: 2px,1px,2px,1px;
}


