@charset "UTF-8";
@keyframes primeraAparicion {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }



.transformacion:hover {
  transform: scale(1.1);
  transition: 1s; }


.apariciones {
  opacity: 0;
  animation-duration: 300s;
  animation-name: primeraAparicion;
  animation-iteration-count: infinite; }

.transformacion:hover {
  transform: scale(1.1);
  transition: 1s; }



* {
  margin: 0px;
  padding: 0px; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none; }

ul li a {
  text-decoration: none; }

.posicionMenu {
  color: black; }

.colorNavegador {
  background-image: linear-gradient(#f8d1b3, #FFF1E6);
  height: 100px; }

a img {
  width: 5vw;
  height: 4vh;
  margin-top: 6px; }

.margenesLogo {
  top: 1vh;
  left: 2vw; }

body {
  background-image: url(../images/footerDePan2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.fondoGradiente {
  background-image: linear-gradient(#FFF1E6, #fff1e67c);
  height: auto;
  box-sizing: inherit;
}


/*estructura de la página utilizando grids*/
main {
  display: flex;
  flex-direction: column;
  height: auto;
}


/*elementos*/
h1 {
  grid-area: h1;
  font-family: sans-serif;
  font-size: 65px;
  color: #9fa385;
  margin-left: 5vw;
  text-align: center;
}

.main__imagen {
  margin-top: 5vh;
  height: auto;
  align-self: flex-end;
  padding: 1vh; 
}

p {
  grid-area: p;
  justify-self: center;
  align-self: center;
  width: 90%;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  color: black; 
  text-align: center;
}

.main__boton {
  grid-area: button;
  justify-self: center;
  font-family: 'Indie Flower', cursive;
}

.main__boton a {
  text-decoration: none;
  color: black;
}

/*footer*/
footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  top: 100vh;
  padding: 2px, 1px, 2px, 1px;
  padding: 2px,1px,2px,1px; }
  footer nav ul img {
    height: 30px;
    width: 30px; }
