* {
    margin: 0px;
    padding: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

.posicionMenu {
    color: black;
}

.colorNavegador {
    background-image: linear-gradient(#f8d1b3, #FFF1E6) ;
    height: 100px;
}

a img {
    width: 5vw;
    height: 10vh;
    margin-top: 7px;
}

.margenesLogo {
    top: 1vh;
    left: 2vw;
}

body {
    background-color: #FFF1E6;
}

@keyframes primeraAparicion {
    0% {opacity: 0;}
    1% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes segundaAparicion {
    1% {opacity: 0;}
    2% {opacity: 0;}
    2% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes terceraAparicion {
    0% {opacity: 0;}
    3% {opacity: 0;}
    4% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes cuartaAparicion {
    0% {opacity: 0;}
    4% {opacity: 0;}
    5% {opacity: 1;}
    100% {opacity: 1;}
}

.section1:hover .primeraAparicion{
    animation-duration: 150s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}

.section2:hover .primeraAparicion{
    animation-duration: 150s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}

.section3:hover .primeraAparicion{
    animation-duration: 150s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}


.section1:hover .segundaAparicion {
    animation-duration: 150s;
    animation-name: segundaAparicion;
    animation-iteration-count: infinite;
}

.section2:hover .segundaAparicion {
    animation-duration: 200s;
    animation-name: segundaAparicion;
    animation-iteration-count: infinite; 
}

.section2:hover .terceraAparicion {
    animation-duration: 200s;
    animation-name: terceraAparicion;
    animation-iteration-count: infinite;
}


.section2:hover .cuartaAparicion {
    animation-duration: 200s;
    animation-name: cuartaAparicion;
    animation-iteration-count: infinite;
}

.apariciones {
    opacity: 0;
    animation-duration: 300s;
    animation-name: primeraAparicion;
    animation-iteration-count: infinite;
}

.transformacion:hover {
    transform: scale(1.1);
    transition: 1s;
}

.footer__titulo:hover {
    transform: scale(1.1);
    transition: 1s;
}

.footer__texto:hover {
    transform: scale(1.1);
    transition: 1s;
}

.footer__boton:hover {
    transform: scale(1.1);
    transition: 1s;
}

.logoFace:hover {
    transform: scale(1.1);
    transition: 1s;
}

.logoGmail:hover {
    transform: scale(1.1);
    transition: 1s;
}

.logoWhatsapp:hover {
    transform: scale(1.1);
    transition: 1s;
}

.logoInstagram:hover {
    transform: scale(1.1);
    transition: 1s;
}



