#fondoDePan {
    background-image: url(../images/panEnHd.jpeg);
    background-size: cover;
   background-attachment: fixed;
   }
​
#degradeInicio {
   background-image: linear-gradient(#FFF1E6,rgb(223, 169, 122));
}
​
#prueba {
   margin-top: 10%;
}

.navbar {
    background-color:blanchedalmond;
    width: 100%;
}

.portada {
    height: 100vh;
}


#titulo {
  text-align: center;
  margin-top: 20%;
  font-size: 50px;
  color: rgb(246, 142, 29);
}

.textoPortada {
    font-size: 25px;
    text-align: center;
    color: black;
}

#textoSecundario {
    font-size: 25px;
    text-align: center;
}

h2 {
    color: rgb(246, 142, 29);
    margin-top: 10%;
    margin-bottom: 10%;
}
​

​
.ultimoTramo {
   background-image: url(../images/footerDePan2.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: top;
}
​

footer {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
    }
   footer .footer__color {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
    }
   footer .footer__titulo {
     color: #9fa385;
     font-family: sans-serif;
     font-size: 40px;
     text-align: center; }
   footer .footer__texto {
     color: black;
     width: 80vw;
     font-size: 20px;
     font-family: 'Indie Flower', cursive;
     margin-left: 10vw;
     text-align: center; }
   footer .footer__boton {
     font-size: 16px;
         font-style: none;
         margin-left: 65vw;
         height: auto;
         width: 30%;
         font-family: 'Indie Flower', cursive; }
     footer .footer__boton a {
       color: black;
       text-decoration: none; }
   footer nav ul {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     height: 15vh;
     top: 100vh;
     padding: 2px, 1px, 2px, 1px;
     padding: 2px,1px,2px,1px; }
     footer nav ul a img {
       width: 30px;
       height: 30px; }
​
.apariciones {
    opacity: 0;
    animation-duration: 300s;
    animation-name: "primeraAparicion";
    animation-iteration-count: infinite;}

@keyframes primeraAparicion {
    0% {opacity: 0;}
    1% {opacity: 1;}
    100% {opacity: 1;}
    }

body {
    background-color: blanchedalmond;
}

.ultimoTramo {
    background-image: url(../images/footerDePan2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 100%;
    background-attachment: fixed;
 }

 .degradeUltimoTramo {
    background-image: linear-gradient(#fff1e68e,rgba(223, 169, 122, 0.658));
    height: 100%;
 }

table {
    margin-bottom: 10%;
}

table tr td {
    border: rgb(199, 181, 121) dotted 1px;
}

