@charset "UTF-8";
@import "styles";
@keyframes primeraAparicion {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes segundaAparicion {
  1% {
    opacity: 0; }
  2% {
    opacity: 0; }
  2% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes terceraAparicion {
  0% {
    opacity: 0; }
  3% {
    opacity: 0; }
  4% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes cuartaAparicion {
  0% {
    opacity: 0; }
  4% {
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.section1:hover .primeraAparicion {
  animation-duration: 150s;
  animation-name: primeraAparicion;
  animation-iteration-count: infinite; }

.section2:hover .primeraAparicion {
  animation-duration: 150s;
  animation-name: primeraAparicion;
  animation-iteration-count: infinite; }

.section3:hover .primeraAparicion {
  animation-duration: 150s;
  animation-name: primeraAparicion;
  animation-iteration-count: infinite; }

.section1:hover .segundaAparicion {
  animation-duration: 150s;
  animation-name: segundaAparicion;
  animation-iteration-count: infinite; }

.section2:hover .segundaAparicion {
  animation-duration: 200s;
  animation-name: segundaAparicion;
  animation-iteration-count: infinite; }

.section2:hover .terceraAparicion {
  animation-duration: 200s;
  animation-name: terceraAparicion;
  animation-iteration-count: infinite; }

.section2:hover .cuartaAparicion {
  animation-duration: 200s;
  animation-name: cuartaAparicion;
  animation-iteration-count: infinite; }

.apariciones {
  opacity: 0;
  animation-duration: 300s;
  animation-name: primeraAparicion;
  animation-iteration-count: infinite; }

.transformacion:hover {
  transform: scale(1.1);
  transition: 1s; }

.footer__titulo:hover {
  transform: scale(1.1);
  transition: 1s; }

.footer__texto:hover {
  transform: scale(1.1);
  transition: 1s; }

.footer__boton:hover {
  transform: scale(1.1);
  transition: 1s; }

.logoFace:hover {
  transform: scale(1.1);
  transition: 1s; }

.logoGmail:hover {
  transform: scale(1.1);
  transition: 1s; }

.logoWhatsapp:hover {
  transform: scale(1.1);
  transition: 1s; }

.logoInstagram:hover {
  transform: scale(1.1);
  transition: 1s; }

* {
  margin: 0px;
  padding: 0px; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none; }

ul li a {
  text-decoration: none; }

.posicionMenu {
  color: black; }

.colorNavegador {
  background-image: linear-gradient(#f8d1b3, #FFF1E6);
  height: 100px; }

a img {
  width: 5vw;
  height: 4vh;
  margin-top: 6px; }

.margenesLogo {
  top: 1vh;
  left: 2vw; }

body {
  background-image: url(../images/footerDePan2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top; }

.fondoGradiente {
  background-image: linear-gradient(#FFF1E6, #fff1e67c);
  height: max-content; }

/*estructura de la página utilizando grids*/
main {
  @if $altura-principal > 80vh {
    color: red
  };
  height: $altura-principal - 10;
  animation-duration: 300s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

/*elementos*/
h1 {
  font-family: sans-serif;
  font-size: 65px;
  color: #9fa385;
  margin-left: 5vw;
  align-self: flex-end; }

.main__imagen {
  width: 45%;
  height: 50vh;
  align-self: flex-end;
  padding: 1vh;
  margin: 4px; }

p {
  justify-self: center;
  align-self: center;
  width: 45vw;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  color: black; }

.row > * {
  width: 45%; }

.main__boton {
  grid-area: main__boton;
  justify-self: center;
  color: black;
  height: 3vh;
  width: 8vw;
  margin-left: 5px; }

/*footer*/
footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  top: 100vh;
  padding: 2px, 1px, 2px, 1px;
  padding: 2px,1px,2px,1px;
  img{
    height: 30px;
    width: 30px;
    };
  }
